body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 15%;

}

#title-card {
    border: solid 3px rgb(110, 110, 110);
    padding: 0;
}

.col {
    border: solid 3px rgb(110, 110, 110);
}

.card-body {
    height: auto;
    width: auto;
    background-color: white;
    padding: none;
    align-content: center;
    border: white;
}

.card-title {
    color: white;
    text-align: center;
    text-shadow: black;
}

.card-text {
    color: rgb(48, 46, 46);
    text-align: center;
}

#timer {
    width: 30%;
}

#question {
    width: 40%;
}

#current-score {
    font-size: 60px;
}

#seconds {
    font-size: 60px;
}

#start-button {
    align-items: center;
    justify-content: center;
    
}

#game-over-button {
    align-items: center;
    justify-content: center;
}

#hsc-text {
  color: white;
}

.badge-pill {
  outline: black solid 2px:
}

